/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.env.development

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/database.yml
/config/secrets.yml
/spec/*.txt
/coverage/*
.DS_Store